// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);

// Customize some defaults
// $body-color: white;
// $body-bg: #fff;
// $body-bg: #001220;
// $border-radius: 0.4rem;
// $success: #7952b3;

// Utilities

@import "bootstrap/scss/bootstrap";
//
// Custom styles
// He convertido los colores de BootStrap en colores de TailwindCSS jeje

$all-colors: map-merge-multiple(
  $blues,
  $indigos,
  $purples,
  $pinks,
  $reds,
  $oranges,
  $yellows,
  $greens,
  $teals,
  $cyans,
  $grays
);

//Añado toda la paleta de colores como clases
$utilities: map-merge(
  $utilities,
  (
    "background-color":
      map-merge(
        map-get($utilities, "background-color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "background-color"), "values"),
              ($all-colors)
            ),
        )
      ),
  )
);

//Añado toda la paleta de colores como fondos
$utilities: map-merge(
  $utilities,
  (
    "color":
      map-merge(
        map-get($utilities, "color"),
        (
          values:
            map-merge(
              map-get(map-get($utilities, "color"), "values"),
              ($all-colors)
            ),
        )
      ),
  )
);
//
@import "bootstrap/scss/utilities/api";
@import "icon-list";

img {
  object-fit: cover; //Se lo aplico a todas la imágenes, lo he visto lo más práctico
}
.card {
  height: 100%;
}
.card-img-top {
  height: 60%;
}

.card-body {
  height: 40%;
}

.carousel-inner {
  max-height: 500px;
  object-position: center;
}
